###################
#   Unreal Files  #
###################

*Binaries/
*Build/
*DerivedDataCache/
*Intermediate/
*Saved/
Content/StarterContent/

###################
#  VS Files	  #
###################
*.VC
*.suo
*.ipch
.vs/BuildingEscape/v15/Browse.VC.db
.vs/
